<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anara.salon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.ContactActivity"
            android:theme="@style/NoActionBar"></activity>
        <activity android:name=".Activities.PrivacyActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".Activities.BookingsActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.FilterActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.SelectTimeBarber"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.SingleSalonActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.ListSalonActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.IntroActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.OTPActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.MobileNumberActivity"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_5GYsNYFZ8ZgiWG" />
    </application>

</manifest>